<!--
<nav>
	<h4>Bariact</h4>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/diet/view">Diet</a></li>
		<li><a href="/profile">Profile</a></li>
		<li><a href="/auth/logout">Log Out</a></li>
	</ul>
</nav>-->

<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="/logo.png" alt="">
        </div>

        <span class="logo_name">BARIACT</span>
    </div>
	
    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/admin/healthcare">
                <i class="uil uil-hospital"></i>
                <span class="link-name">Healthcare</span>
            </a></li>
			<li><a href="/admin/patientlist">
                <i class="uil uil-clinic-medical"></i>
                <span class="link-name">Patient List</span>
            </a></li>
			<li><a href="/admin/doctorlist">
                <i class="uil uil-user-md"></i>
                <span class="link-name">Doctor List</span>
            </a></li>
        </ul>
        
        <ul class="logout-mode">
     
            <li><a href="/auth/logout">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
            </a></li>
            

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                <span class="link-name">Dark Mode</span>
				</a>

				<div class="mode-toggle">
					<span class="switch"></span>
				</div>
			</li>
        </ul>        
    </div>
</nav>


<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <h6>{{user.role}}, {{user.fullname}}, {{user.email}}, {{user.ic}}</h6>    
    </div>
    <div class="dash-content">
        <div class="overview">
			
			<div class="title">
                <i class="uil uil-hospital"></i>
                <span class="text">Edit Your Healthcare List</span>
            </div>
            
            <br><br>
            <ol class="breadcrumb" style="background-color: #ffffff;">
                <li class="breadcrumb-item"><a href="/admin/healthcare">Back to Healthcare</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Healthcare</li>
            </ol>
            <br>


            {{#if alert}}
            <div class="container" style="background-color: #ffffff;">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success! </strong>{{alert}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            {{/if}}

            <br>
            <div class="activity">
                {{#each rows}}
                <form class="row g-3 needs-validation" method="POST" action="/admin/healthcare/update/{{this.id}}" novalidate>
                    {{> v_a_healthcare_form}}
                </form>
                {{/each}}
            </div>	
        </div>
    </div>
</section>



