<!--<nav>
	<h4>Bariact</h4>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/diet/view">Diet</a></li>
		<li><a href="/profile">Profile</a></li>
		<li><a href="/auth/logout">Log Out</a></li>
	</ul>
</nav>-->

<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="/logo.png" alt="">
        </div>

        <span class="logo_name">BARIACT</span>
    </div>

    <div class="menu-items">
        
        <ul class="nav-links">
            <li><a href="/dashboard">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/calendar">
                <i class="uil uil-calendar-alt"></i>
                <span class="link-name">Calendar</span>
            </a></li>
            <li><a href="/diet/view">
                <i class="uil uil-utensils"></i>
                <span class="link-name">Diet</span>
            </a></li>
            <li><a href="/exercise/view">
                <i class="uil uil-basketball"></i>
                <span class="link-name">Exercise</span>
            </a></li>
            <li><a href="/analytics">
                <i class="uil uil-chart"></i>
                <span class="link-name">Analytics</span>
            </a></li>
            
            <li><a href="/profile/display">
                <i class="uil uil-user-circle"></i>
                <span class="link-name">Profile</span>
            </a></li>
          
        </ul>
        
        <ul class="logout-mode">
     
            <li><a href="/auth/logout">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
            </a></li>
            

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>        
    </div>
</nav>



<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <h6 style="float: right;">
            {{#if user}}
                {{#if user.image}}
                    <img src="/images/{{user.image}}" class="pp" id="pp" style="height: 30px; width:30px; object-fit: cover; overflow:hidden"/>
                {{else}}
                    <img src="/images/profileimage.png"  class="pp" id="pp" style="height: 30px; width:30px; object-fit: cover; overflow:hidden"/>
                {{/if}}
                {{user.role}}, {{user.fullname}}, {{user.email}}, {{user.ic}}
            {{/if}}
            
            
            {{#each getuser}}
                 {{#if this.image}}
                    <img src="/images/{{this.image}}" class="pp" id="pp" style="height: 30px; width:30px; object-fit: cover; overflow:hidden"/>
                {{else}}
                    <img src="/images/profileimage.png"  class="pp" id="pp" style="height: 30px; width:30px; object-fit: cover; overflow:hidden"/>
                {{/if}}
                {{this.role}}, {{this.fullname}}, {{this.email}}, {{this.ic}}
            {{/each}}
            
             {{#if assignedTo}}
                Assigned to {{assignedTo}}</h6>
            {{/if}}
        
        <!--<input type="file" id="image" name="image" accept="image/png, image/jpg">
        <div id="display_image"></div>-->
    </div>
    
    <div class="dash-content">
        
        {{#if success}}
        <br><br>
			<ol class="breadcrumb" style="background-color: #ffffff;">
				<li class="breadcrumb-item"><a href="/profile/display">Back to Profile</a></li>
				<li class="breadcrumb-item active" aria-current="page">Upload Image</li>
			</ol>
			<br>
            
            <div class="container" style="background-color: #ffffff;">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success! </strong>{{success}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {{/if}}
        
        {{#if message}}         
            <div class="container" style="background-color: #ffffff;">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong></strong>{{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {{/if}}
        
        {{#if display}}
        <div class="overview">
          
            <div class="title">
                    <i class="uil uil-user-circle"></i>
                    <span class="text">Profile Details</span>
            </div>
          
            <div class="activity">
                    
                    <div class="col d-flex justify-content-center">
                        <div class="card">
                            <div class="avatar-ctn">
                                
                                {{#if user.image}}
                                    <img src="/images/{{user.image}}" class="avatar" id="avatar" alt="User Profile Picture"/>
                                {{else}}
                                    <img src="/images/profileimage.png" class="avatar" id="avatar" alt="User Profile Picture"/>
                                {{/if}}
                                
                                <form  class="form-inline" action="/profile/upload/{{user.ic}}" method="POST" enctype="multipart/form-data">
                                    <div class="form-group mb-2">
                                        <input type="file" name="image" id="image" accept="image/*" onclick="displayBtn()"/>
                                    </div>
                                    <div class="btn-group" style="padding-right: 6px;">
                                        <button type="submit" class="btn btn-primary mb-2" id="btnUpload" style="display:none;" >Upload</button>
                                    </div>  
                                </form>
                    
                            </div>
                            <hr>
                           
                            <div class="card-body">
                                <h5 class="card-title">{{user.ic}}</h5>
                                <p class="card-text"><b>{{user.fullname}}({{user.role}})</b></p>  
                                <a href="#" class="btn btn-primary">{{user.email}}</a>
                            </div>
                        </div> 
                    </div>
                     
                        <br>
                       
                        <div class="card text-center">
                            <div class="card-header">
                                <h5>Profile Page</h5> 
                                
                            </div>
                            {{#if rows}}
                            <div class="card-body">
                                <!--<h5 class="card-title">
                                    Hey {{user.ic}}, Welcome Back.
                                </h5>-->
                                
                                {{#each rows}}                
                                <a href="/screening/view" class="btn btn-primary float-left"><i class="uil uil-clipboard-alt"></i> Update Your Screening Form</a>
                                <a href="/profile/update/{{this.id}}" class="btn btn-primary float-right"><i class="uil uil-user-circle"></i> Edit My Profile</a>
                                <center><h6>Last Update on {{this.updatedAt}}</h6></center>
                                <div class="col d-flex justify-content-left" style="text-align: left; padding: 10px">
                                    
                                    <table class="table table-bordered">
                                         <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Assigned Doctor :</th>                                               
                                                <th scope="col" class="text-left">{{this.assignedTo}}</th>
                                            </tr>
                                        </thead>
                                        
                                         <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Recommended Daily Calories Intake(kcal) :</th>                                               
                                                <th scope="col" class="text-left">{{this.daily_intake}}</th>
                                            </tr>
                                        </thead>
                                        
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Home Address :</th>                                               
                                                <th scope="col" class="text-left">{{this.home_address}}</th>
                                            </tr>
                                        </thead>
                                        
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Phone Number :</th>                                                
                                                <th scope="col" class="text-left">{{this.phone_number}}</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Gender :</th>                                     
                                                <th scope="col" class="text-left">{{this.gender}}</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Age :</th>                                     
                                                <th scope="col" class="text-left">{{this.age}}</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Marital Status :</th>                                               
                                                <th scope="col" class="text-left">{{this.marital_status}}</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Physical Activity Level :</th>                                          
                                                <th scope="col" class="text-left">{{this.activity_level}}</th>
                                            </tr>
                                        </thead>
                                         <thead>
                                            <tr>
                                                <th scope="col" class="text-left">BMI :</th>                                               
                                                <th scope="col" class="text-left">{{this.bmi}}</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Height :</th>                                               
                                                <th scope="col" class="text-left">{{this.height}}cm</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Surgery Status :</th>                                               
                                                <th scope="col" class="text-left">{{this.surgery_status}}</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Current Weight :</th>                                               
                                                <th scope="col" class="text-left">{{this.curr_weight}}kg</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Weight Before Surgery :</th>                                               
                                                <th scope="col" class="text-left">{{this.before_surg_weight}}kg</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Surgery Date :</th>                                               
                                                <th scope="col" class="text-left">{{this.surgery_date}}</th>
                                            </tr>
                                        </thead>                                     
                                    </table>                    
                                </div>
                                {{/each}} 
                            </div>
                            {{else}}
                            <div class="container" style="background-color: #ffffff;">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Please Update Your Profile. </strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                            
                             <div class="card-body">
                                <!--<h5 class="card-title">
                                    Hey {{user.ic}}, Welcome Back.
                                </h5>-->
                                <a href="/screening/view" class="btn btn-primary float-left"><i class="uil uil-clipboard-alt"></i> Update Your Screening Form</a>
                                <a href="/profile/add" class="btn btn-primary float-right"><i class="uil uil-user-circle"></i> Update New Profile</a>
                            </div>
                            
                            {{/if}}
                            <!--<div class="card-footer text-muted">
                                Bariatric Surgery Web
                            </div>-->
                        </div>
                        
            </div>
        </div>
        {{/if}}

    </div>
</section>

<script>
    function displayBtn(){
        document.getElementById("btnUpload").style.display = "block";
    }

</script>