<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="fullname" name= "fullname" value="{{this.fullname}}" disabled>
		<label class="form-label" id="fullname" name= "fullname">Patient's Name:</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="assignedTo" name= "assignedTo" value="{{this.assignedTo}}" disabled>
		<label class="form-label" id="assignedTo" name= "assignedTo">Assigned Doctor:</label>
	</div>
</div>


<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="age" name= "age" value="{{this.age}}" disabled>
		<label class="form-label" id="age" name= "age">Age:</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="home_address" name= "home_address" value="{{this.home_address}}" disabled>
		<label class="form-label" id="home_address" name= "home_address">Home Address:</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="phone_number" name= "phone_number" value="{{this.phone_number}}" disabled>
		<label class="form-label" id="phone_number" name= "phone_number">Phone Number:</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="gender" name= "gender" value="{{this.gender}}" disabled>
		<label class="form-label" id="gender" name= "gender">Gender:</label>
	</div>
</div>


<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="marital_status" name= "marital_status" value="{{this.marital_status}}" disabled>
		<label class="form-label" id="marital_status" name= "marital_status">Marital Status:</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="activity_level" name= "activity_level" value="{{this.activity_level}}" disabled>
		<label class="form-label" id="activity_level" name= "activity_level">Activity Level:</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="height" name= "height" value="{{this.height}}" disabled>
		<label class="form-label" id="height" name= "height">Height(cm):</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="bmi" name= "bmi" value="{{this.bmi}}" disabled>
		<label class="form-label" id="bmi" name= "bmi">BMI:</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="surgery_status" name= "surgery_status" value="{{this.surgery_status}}" disabled>
		<label class="form-label" id="surgery_status" name= "surgery_status">Surgery Status:</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="curr_weight" name= "curr_weight" value="{{this.curr_weight}}" disabled>
		<label class="form-label" id="curr_weight" name= "curr_weight">Currrent Weight(kg):</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="before_surg_weight" name= "before_surg_weight" value="{{this.before_surg_weight}}" disabled>
		<label class="form-label" id="before_surg_weight" name= "before_surg_weight">Weight Before Surgery(kg):</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="surgery_date" name= "surgery_date" value="{{this.surgery_date}}" disabled>
		<label class="form-label" id="surgery_date" name= "surgery_date">Surgery Date:</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="updatedAt" name= "updatedAt" value="{{this.updatedAt}}" disabled>
		<label class="form-label" id="updatedAt" name= "updatedAt">Last Update On:</label>
	</div>
</div>

<div class="modal-footer">
	<button type="submit" class="btn btn-primary">Submit</button>
</div>